body {
  margin: 20px 30px;
}
h1,
h2 {
  text-align: center;
  font-family: "El Messiri", sans-serif;
}
h3 {
  text-align: center;
  font-weight: 100;
}
a {
  text-decoration: none;
  color: black;
  font-family: Georgia, "Times New Roman", Times, serif;
}
