:root {
  --primary-color: rgba(255, 160, 122, 0.77);
  --secondary-color: rgb(150, 210, 230);
  --heading-font: "El Messiri", sans-serif;
}
h1,
h2 {
  font-family: var(--heading-font);
  padding: 20px 0;
}
h2 {
  font-size: 48px;
}
h3 {
  font-weight: 100;
}
h4 {
  margin: 10px;
}
h5 {
  font-size: 12px;
}
h5 a:hover {
  color: var(--secondary-color);
}
a {
  text-decoration: none;
  color: black;
}
button {
  margin: 20px 0;
}
body {
  background: var(--primary-color);
  text-align: center;
}
footer a {
  margin: 20px;
  font-size: 25px;
}
footer a:hover {
  color: var(--secondary-color);
}
.work {
  color: rgba(0, 0, 0, 0.5);
}
.hero {
  text-align: center;
  margin: 40px;
}
.carousel {
  max-width: 800px;
  display: inline-block;
}
.picture-btn {
  font-size: 10px;
  padding: 5px 20px;
  margin: 20px;
  border-color: var(--primary-color);
}
