:root {
  --primary-color: lightsalmon;
  --secondary-color: lightblue;
  --heading-font: "El Messiri", sans-serif;
}
h1,
h2 {
  font-family: var(--heading-font);
  padding: 40px 0;
}
h2 {
  font-size: 48px;
}
h3 {
  font-weight: 100;
}
a {
  text-decoration: none;
  color: black;
}
button {
  margin: 20px 0;
}
body {
  background: var(--primary-color);
  text-align: center;
}
.hero {
  text-align: center;
  margin: 40px;
}
.carousel {
  max-width: 800px;
  display: inline-block;
}
.picture-btn {
  font-size: 10px;
  padding: 5px 20px;
  margin: 20px;
  border-color: var(--primary-color);
}
